<ng-template #star let-fill="fill">
  <span class="star" [class.fullStar]="fill === 100">
    <span class="halfStar" [style.width.%]="fill">&star;</span>&star;
  </span>
</ng-template>

<ng-template #heart let-fill="fill">
  <span class="star" [class.fullHeart]="fill === 100">
    <span class="halfHeart" [style.width.%]="fill">&hearts;</span>&hearts;
  </span>
</ng-template>

<div class="container">
  <div class="row" style="margin-top:20px;">
    <div class="col-sm-6">
      <img src="{{movie.poster_path}}" class="img-fluid detail">
    </div>
    <div class="col-sm-6 my-auto">
      <h1>{{movie.title}}</h1>
      <ngb-rating [max]="5" [starTemplate]="star"  [(rate)]="movie.stars" [readonly]="true"></ngb-rating>
      <br>
      <ngb-rating [max]="5" [starTemplate]="heart" [(rate)]="communityRating" (rateChange)="rateChanged($event)" [formControl]="ratingCtrl" [readonly]="false"></ngb-rating>
      <div class="form-text small">
        <div *ngIf="ratingCtrl.valid" class="text-success">Thank you for your rating</div>
        <div *ngIf="ratingCtrl.invalid" class="text-danger">Please rate the movie</div>
      </div>
      <span class="badge badge-genre" *ngFor="let genre of movie.genre_ids">{{genre}}</span>
      <p style="margin-top:20px;">{{movie.overview}}</p>
    </div>
  </div>
</div>


<div class="container mt-5">
  <div class="row  d-flex justify-content-center">
    <form [formGroup]="commentForm" (ngSubmit)="comment()">
    <div class="d-flex flex-row add-comment-section mt-4 mb-4" style="height: 48px">

        <input type="text" class="form-control mr-3 overflow-auto" formControlName="comment" placeholder="Add comment">
        <button class="btn btn-primary" type="submit">Comment</button>

    </div>
    </form>
    <div class="col-md-8" *ngFor="let comment of comments">
      <div class="card p-3">
        <div class="d-flex justify-content-between align-items-center">
          <div class="user d-flex flex-row align-items-center">
            <span>
              <small class="font-weight-bold text-primary mx-3">{{comment.userId}}</small>
              <small class="font-weight-bold">{{comment.comment}}</small>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
