<ng-template #star let-fill="fill">
  <span class="star" [class.fullStar]="fill === 100">
    <span class="halfStar" [style.width.%]="fill">&star;</span>&star;
  </span>
</ng-template>

<ng-template #heart let-fill="fill">
  <span class="star" [class.fullHeart]="fill === 100">
    <span class="halfHeart" [style.width.%]="fill">&hearts;</span>&hearts;
  </span>
</ng-template>

<div class="container">
  <div class="row" style="margin-top:20px;">
    <div class="col-sm-6">
      <img src="{{movie.poster_path}}" class="img-fluid detail">
    </div>
    <div class="col-sm-6 my-auto">
      <h1>{{movie.title}}</h1>
      <ngb-rating [max]="5" [starTemplate]="star"  [(rate)]="movie.stars" [readonly]="true"></ngb-rating>
      <br>
      <ngb-rating [max]="5" [starTemplate]="heart" [(rate)]="communityRating" (rateChange)="rateChanged($event)" [formControl]="ratingCtrl" [readonly]="false"></ngb-rating>
      <div class="form-text small">
        <div *ngIf="ratingCtrl.valid" class="text-success">Thanks!</div>
        <div *ngIf="ratingCtrl.invalid" class="text-danger">Please rate us</div>
      </div>
      <span class="badge badge-genre" *ngFor="let genre of movie.genre_ids">{{genre}}</span>
      <p style="margin-top:20px;">{{movie.overview}}</p>
    </div>
  </div>
</div>

<pre>Model: <b>{{ ratingCtrl.value }}</b></pre>
