<p-carousel [value]="movies" [autoplayInterval]="5000"
            [circular]="true" [responsiveOptions]="responsiveOptions">
  <ng-template pTemplate="header">
    <h3 class="text-center">{{genre}}</h3>
  </ng-template>
  <ng-template let-movie pTemplate="item">
    <div class="movie-item">
      <div class="pb-1">
      </div>
      <a href="#/specific-movie/{{movie.id}}"><img class="rounded" src="{{movie.backdrop_path}}" alt="{{movie.title}}">
      <h5 class="align-middle text-center" style="height: 56px">{{movie.title}}</h5></a>
      <p class="px-1 fst-italic">{{movie.overview | slice:0:200 }}{{movie.overview.length > 200 ? '...' : ''}}</p>
    </div>
  </ng-template>
</p-carousel>
