<div class="container align-items-center justify-content-center">
  <h1 class="text-center">MovieStar ⭐</h1>
  <div>
    <p class="text-center">This is a website for movie enthusiasts 🍿, let's all get together to create the best, and most awesome community for movies!
    <br>On MovieStar, you're able to lookup movies and actors 🔎, rate them 🌠, comment on them ✏ and find some amazing statistics 📈, that even the most nerdy movie enthusiasts would enjoy.
      <br> Go on ahead and create an account, so you can start exploring this community centered around movies 🎬.
    </p>
  </div>
</div>

<app-search></app-search>
