<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      <!--<img src="../assets/img/moviestar.png" alt="MovieStar" width="100" height="100">-->
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/movies">Movies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/actors">Actors</a>
        </li>
	  	<li class="nav-item">
          <a class="nav-link" routerLink="/statistics">Statistics</a>
        </li>
      </ul>
    </div>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
        <ul class="navbar-nav justify-content-end">
          <li class="nav-item" *ngIf="isLoggedIn">
            <p class="pt-2 pe-2">Hi👋 {{username}}</p>
          </li>
          <li class="nav-item" *ngIf="isLoggedIn">
            <a class="nav-link" routerLink="/favourites">My favourites</a>
          </li>
          <li class="nav-item" *ngIf="isLoggedIn">
            <a class="nav-link" routerLink="/" (click)="logout()">Logout</a>
          </li>
          <li class="nav-item" *ngIf="!isLoggedIn">
            <a class="nav-link" routerLink="/signup">Sign up</a>
          </li>
          <li class="nav-item" *ngIf="!isLoggedIn">
            <a class="nav-link" routerLink="/login">Sign in</a>
          </li>
        </ul>
      </div>
  </div>
</nav>
<!-- KEEP THIS LINE-->
<router-outlet></router-outlet>
