<div class="container">
  <div class="row-1">
      <h1 class="align-middle text-center">{{actor.name}}</h1>
    </div>


  <div class="row" *ngIf="actor.birthday !== null">
    <div class="col">
      <h5>Birth date</h5>
    </div>
    <div class="col-sm" >
      <h6>{{actor.birthday}}</h6>
    </div>
  </div>

  <div class="row" *ngIf="actor.place_of_birth !== null">
    <div class="col">
      <h5>Birth place</h5>
    </div>
    <div class="col-sm">
      <h6>{{actor.place_of_birth}}</h6>
    </div>
  </div>

  <div class="row" *ngIf="actor.biography !== null">
    <div class="col">
      <h5>Biography</h5>
    </div>
    <div class="col-sm">
      <h6>{{actor.biography}}</h6>
    </div>
  </div>

  <div class="row" *ngIf="actor.known_for_department !== null">
    <div class="col">
      <h5>Professions</h5>
    </div>
    <div class="col-sm">
      <h6>{{actor.known_for_department}}</h6>
    </div>
  </div>

  <div class="row" *ngIf="actor.deathday !== null">
    <div class="col">
      <h5>Date of death</h5>
    </div>
    <div class="col-sm">
      <h6>{{actor.deathday}}</h6>
    </div>
  </div>



      <div class="column">
        <a class="row" href="#/known-for/{{actor.name}}">
        <h4 class="align-middle text-center" style="height: 20px">
          Click here to check out what {{actor.name}} is also known for!
        </h4>
        </a>
      </div>


</div>
