<div class="container">
  <div class="row-1">
    <div class="col">
      <h1 class="align-middle text-center">{{actor.name}}</h1>
    </div>
  </div>

  <div class="row" *ngIf="actor.birthday != null">
    <div class="col">
      <h5>Birth date</h5>
    </div>
    <div class="col-sm" >
      <h6>{{actor.birthday}}</h6>
    </div>
  </div>

  <div class="row" *ngIf="actor.place_of_birth != null">
    <div class="col">
      <h5>Birth place</h5>
    </div>
    <div class="col-sm">
      <h6>{{actor.place_of_birth}}</h6>
    </div>
  </div>

  <div class="row" *ngIf="actor.biography != null">
    <div class="col">
      <h5>Biography</h5>
    </div>
    <div class="col-sm">
      <h6>{{actor.biography}}</h6>
    </div>
  </div>

  <div class="row" *ngIf="actor.known_for_department != null">
    <div class="col">
      <h5>Professions</h5>
    </div>
    <div class="col-sm">
      <h6>{{actor.known_for_department}}</h6>
    </div>
  </div>

  <div class="row" *ngIf="actor.deathday != null">
    <div class="col">
      <h5>Date of death</h5>
    </div>
    <div class="col-sm">
      <h6>{{actor.deathday}}</h6>
    </div>
  </div>


    <div class="row">
      <div class="column">
        <h4 class="align-middle text-center" style="height: 20px">
          Also known for These movies fantastic movies!
        </h4>
      </div>
    </div>
    <div *ngFor="let actor1 of actors" >
      <div *ngIf="actor.id == actor1.id">
        <div  *ngFor="let known of actor1.known_for">
          <div class="row-cols-md-6" *ngIf="known.name || known.title ">
            <a href="#/specific-movie/{{known.id}}">
              <div >
                <h4 class="align-middle text-center" style="height: 20px">
                  {{known.name}}{{known.title}}
                </h4>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

